
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background: rgb(63,94,251);
    background: linear-gradient(144deg, rgba(63,94,251,1) 0%, rgba(1,6,70,1) 0%, rgba(88,33,70,1) 26%, rgba(252,84,70,1) 54%, rgba(65,79,133,1) 74%, rgba(1,19,39,1) 100%);
  }

.brnIcon,
.navHighlight {
    color: #7456F7;;
}
.brnIcon {
    font-weight: 800;
    font-size: 1.9rem;
    position: relative;
    padding-left: 20% ;
    padding-top: 7px;
}
  
  .navbar #ab{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar #ab:hover {
    background: #ddd;
    color: black;
  }
  

  .main {
    margin-top: 30px; 
  }

 @media only screen and (max-width: 500px) {
    .navHighlight {

      float: right;
      padding-right: 9%;
      
    }
  }
